{% extends "devices/home_base.html" %}
    {% block cardbody %}
    {% load static %}
    <div class="card-body">
        <div class="row">
            <div class="form-group col">
                <div class="input-group">
                    
                    <div class="input-group-text"><img src="{% static 'devices/img/calendar.svg' %}"/></div>
                    
                    <input class="form-control" type="date" value="2020/05/08">
                </div>             
            </div>
            <div class="form-group col">
                <div class="input-group">

                        <div class="input-group-text"><img src="{% static 'devices/img/filas.svg' %}"/></div>

                        <select class="form-select" id="exampleFormControlSelect1">
                            <option>Seleccion filas</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    
                </div>             
            </div>
            <div class="form-group col">
                <div class="input-group">
                    
                        <div class="input-group-text"><img src="{% static 'devices/img/ubicacion.svg' %}"/></div>
                    
                        <select class="form-select" id="exampleFormControlSelect1" name="idsucur">
                            {% for sucursal in sucursal %}
                                <option value="{{sucursal.id_sucursal}}">{{sucursal.nombre}}</option>
                            {% endfor %}
                        </select>
                    
                </div>             
            </div>
            <div class="form-group col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <a class="btn btn-info fo" href=""><img src="{% static 'devices/img/search.svg' %}" ></a>
                    </div>
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">                   
                </div>
                
            </div>               
        </div>    
    </div>
    
    <div class=" border-top" style="background: #fafafa; height: 40px;">
        <small style="margin-left: 20px;" class="text-info">La informacion corresponde a las 12 ultimas horas</small>
    </div>
    {% endblock %}
    {% block content%}
    {% load static %}
    <div class="row" style="margin: 8px;">
        {% for  %}
        <div class="col-sm-3">
            <div class="card border-info">
                <div style="background-color: #006476;" class="card-header border-success text-light">
                    Almacen1-Ate 
                    <img style="height: 30px; margin-left: 30px;" src="{% static 'devices/img/calenda.png' %}"/>
                    <small>15:10</small>
                    <small>28/05/2020</small>                  
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" style="text-align: center;">
                            <div style="margin-bottom: 20px;">
                                <label style="margin: 10px;">Temperatura</label>
                            </div> 
                            <div class="row">
                                <div class="col-8">
                                    <!--<img  src="{% static 'devices/img/ventil3.png' %}"/>-->
                                    <div id="chart_div" style="width: 400px; height: 120px;"></div>                                                                                   
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12" style="margin-bottom: 30px;">
                                            <img  src="{% static 'devices/img/aumento2.png' %}"/>
                                            <small>23.8</small>
                                            </br>
                                            <small>T.max</small>
                                        </div>
                                        <div class="col-12">
                                            <img  src="{% static 'devices/img/disminucion2.png' %}"/>
                                            <small>14.6</small>
                                            </br>
                                            <small>T.min</small>
                                        </div>  
                                    </div>                                 
                                </div> 
                            </div>
                        </div>
                        <div class="col-12" style="text-align: center;">
                            <div style="margin-bottom: 20px;">
                                <label style="margin: 10px;">Humedad</label>
                            </div>  
                            <div class="row">
                                <div class="col-8">
                                    <img  src="{% static 'devices/img/ventil3.png' %}"/>                                                                                    
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <img  src="{% static 'devices/img/aumento2.png' %}"/>
                                            <small>23.8</small>
                                            </br>
                                            <small>T.max</small>
                                        </div>
                                        <div class="col-12">
                                            <img  src="{% static 'devices/img/disminucion2.png' %}"/>
                                            <small>14.6</small>
                                            </br>
                                            <small>T.min</small>
                                        </div>                                        
                                    </div>                                 
                                </div> 
                            </div>
                        </div>
                    </div>              
                </div>
              </div>
        </div>
        
        
        
        
    </div>

    {% endblock %}
