{% extends "devices/home_base2.html" %}
    {% block cabecera%}
    {% load static %}
            <div class="col-12 font-weight-bolder" >
                <label style="margin-left: 30px; margin-top: 5px; font-size: 25px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    <img src="{% static 'devices/img/direccion4.png' %}"> Histórico - General
                </label>       
            </div>     
    {% endblock %}
    {% block content %}
    {% load static %}
    <div class="container-fluid col-sm-12" style="margin-top: 10px; margin-bottom: 20px;">   
        <div class="card border-info">
            <div style="background-color: #006476; padding: 10px; font-size: 17px;" class="card-header border-success text-light">
                Registros
            </div>
            <div class="card-body" id="grafico">
                <div class="row">
                    <div class="form-group col-12">   
                        <form class="form" action="" method="POST">
                            {% csrf_token %} 
                            <div class="row">
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                        <div class="input-group-text"><img style="margin-right: 8px;" src="{% static 'devices/img/calendar.svg' %}"/> Desde: </div>
                                        
                                        <input class="form-control" type="datetime-local" name="desde" value="{{desde}}">
                                    </div>             
                                </div>
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                        <div class="input-group-text"><img style="margin-right: 8px;" src="{% static 'devices/img/calendar.svg' %}"/> Hasta: </div>
                                        
                                        <input class="form-control" type="datetime-local" name="hasta" value="{{hasta}}">
                                    </div>             
                                </div>
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                        <div class="input-group-text"><img src="{% static 'devices/img/ubicacion.svg' %}"/></div>
                                        
                                        <select class="form-select" id="exampleFormControlSelect1" name="horas">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="6">6</option>
                                            <option value="8">8</option>
                                            <option value="12">12</option>
                                        </select>                                       
                                    </div>             
                                </div>
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                        <div class="input-group-text"><img src="{% static 'devices/img/ubicacion.svg' %}"/></div>
                                        
                                        <select class="form-select" id="exampleFormControlSelect1" name="sucur">
                                            {% for sucursal in sucursal %}                                
                                                <option value="{{sucursal.id_sucursal}}" 
                                                    {% if idsucur == sucursal.id_sucursal%}
                                                        selected
                                                    {%else%}
                                                    {% endif %}>{{sucursal.nombre}}</options>
                                            {% endfor %}
                                        </select>
                                    </div>             
                                </div>
                                <div class="form-group col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-info fo" type="submit" href=""><img src="{% static 'devices/img/search.svg' %}" > Buscar</button>
                                        </div>
                                        <div style="margin-left: 30px; background-color:#ff9900; border-radius: 20px;">
                                            <a class="btn" href="{% url 'generatepdfMKT' %}?equip={{equ}}&sucur={{suc}}&desde={{desde}}&hasta={{hasta}}" ><img src="{% static 'devices/img/printer.svg' %}"> Exportar PDF</a>
                                        </div>              
                                    </div>
                                    
                                </div>               
                            </div>         
                        </form>       
                    </div>
                     
                    <div class="col-12" style="margin-left:0px; padding-top: 20px;">
                        <div class="table-responsive" style="width: 100%;" >
                            <table class="table table-sm table-striped border border-info align-middle" style="text-align: center;">
                                <thead class="bg-info">
                                    <tr class="table-info align-middle">
                                        {% for per in per %}
                                            {% if per == 'total'%}
                                            {% elif per == 'id' %}
                                            {% else%}
                                            <th style="padding-top: 0px;padding-bottom: 0px; width: 150px;" scope="col">{{ per }}</th>   
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody >
                                    {% for users in users %}
                                    <tr class="">
                                        {% if conteo > 35 %}
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.2}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.3}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.4}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.5}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.6}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.7}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.8}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.9}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.10}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.11}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.12}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.13}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.14}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.15}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.16}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.17}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.18}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.19}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.20}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.21}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.22}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.23}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.24}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.25}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.26}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.27}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.28}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.29}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.30}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.31}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.32}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.33}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.34}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.35}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.36}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.37}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.38}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.39}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.40}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.41}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.42}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.43}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.44}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.45}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.46}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.47}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.48}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.49}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.50}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.51}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.52}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px; ">{{users.53}}</td>
                                        
                                        {% elif conteo == 13 %}
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.2}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.3}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.4}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.5}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.6}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.7}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.8}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.9}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.10}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.11}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.12}}</td>

                                        
                                        {% elif conteo == 9 %}
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.2}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.3}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.4}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.5}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.6}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.7}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.8}}</td>

                                        {% else %}
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.2}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.3}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.4}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.5}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.6}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.7}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.8}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.9}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.10}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.11}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.12}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.13}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.14}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.15}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.16}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.17}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.18}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.19}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.20}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.21}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.22}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.23}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.24}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.25}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.26}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{users.27}}</td>
                                        {% endif %}
                                    </tr>  
                                    {% endfor %}
                                </tbody>
                              </table>
                            {% if users.has_other_pages %}
                            <form action="" method="POST">
                                {% csrf_token %}   
                                <nav aria-label="Page" style="margin-left: 10px;">
                                    <ul class="pagination">
                                        {% if users.has_previous %}                                                                
                                            <li class="page-item">
                                                <button class="page-link" type="submit" name="page" value="{{ users.previous_page_number }}">&laquo;</button>
                                                <!--<a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a>-->
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a>
                                            </li>
                                        {% endif %}
                                        {% for i in users.paginator.page_range %}
                                        {% if users.number == i %}
                                            <li class="page-item active bg-info" aria-current="page">
                                                <a class="page-link" style="background:#00bcd4; border: 0px solid transparent;">
                                                    <span >{{ i }} </span>
                                                </a>                                          
                                            </li>
                                        {% else %}                                       
                                            <li class="page-item">
                                                <button class="page-link" type="submit" name="page" style="color: #00bcd4;" value="{{ i }}">{{ i }}</button>
                                                <!--<a class="page-link" style="color: #00bcd4;" href="?page={{ i }}">{{ i }}</a>-->
                                            </li>                                            
                                        {% endif %}
                                        {% endfor %}
                                        {% if users.has_next %}
                                            <li class="page-item">
                                                <button class="page-link" type="submit" style="color: #00bcd4;" name="page" value="{{ users.next_page_number }}">&raquo;</button>
                                                <!--<a class="page-link" style="color: #00bcd4;" href="?page={{ users.next_page_number }}">&raquo;</a>-->
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </form> 
                            {% endif %}
                        </div>
                    </div>
                                                                              
                </div>  
            </div>
        </div>
    </div>
    <div class="container-fluid col-sm-12" style="margin-top: 10px; margin-bottom: 20px;">   
        <div class="card border-info">
            <div style="background-color: #006476; padding: 10px; font-size: 17px;" class="card-header border-success text-light">
                Historial de Apagado - Encendido
            </div>
            <div class="card-body">
                <div class="row">  
                    <div class="form-group col-12">                                                                          
                    <div style="width: 100%;" >
                        <table class="table table-striped border border-info" style="text-align: center;">
                            <thead class="bg-info">
                              <tr class="table-info">                                   
                                <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">ID</th>
                                <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Camara</th>
                                <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Hora Apagado</th>
                                <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Hora Prendido</th> 
                              </tr>
                            </thead>
                            <tbody style="padding: 0px;"> 
                                <!--{% for users in users %}                        
                                    <tr>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ agrupado }}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.fetch }}</td>
                                        {% if ancho == 4 %}
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.valprueba1}} C°</td>                                            
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.valprueba2 }} C°</td>                                            
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.valprueba3 }} %</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.valprueba4 }} %</td>
                                        {% elif ancho == 2 %}
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.valprueba1}} C°</td>                                            
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.valprueba2 }} C°</td>
                                        {% else %}
                                        <td style="padding-top: 0px;padding-bottom: 0px;">{{ users.valprueba1}} C°</td>                                            
                                        {% endif %}
                                                                                                                                        
                                    </tr> 
                                {% endfor %}-->
                                <tr>

                                </tr>
                            </tbody>
                          </table>
                        {% if users.has_other_pages %}
                        <form action="" method="POST">
                            {% csrf_token %}   
                            <nav aria-label="Page" style="margin-left: 10px;">
                                <ul class="pagination">
                                    {% if users.has_previous %}                                                                
                                        <li class="page-item">
                                            <button class="page-link" type="submit" name="page" value="{{ users.previous_page_number }}">&laquo;</button>
                                            <!--<a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a>-->
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a>
                                        </li>
                                    {% endif %}
                                    {% for i in users.paginator.page_range %}
                                    {% if users.number == i %}
                                        <li class="page-item active bg-info" aria-current="page">
                                            <a class="page-link" style="background:#00bcd4; border: 0px solid transparent;">
                                                <span >{{ i }} </span>
                                            </a>                                          
                                        </li>
                                    {% else %}                                       
                                        <li class="page-item">
                                            <button class="page-link" type="submit" name="page" style="color: #00bcd4;" value="{{ i }}">{{ i }}</button>
                                            <!--<a class="page-link" style="color: #00bcd4;" href="?page={{ i }}">{{ i }}</a>-->
                                        </li>                                            
                                    {% endif %}
                                    {% endfor %}
                                    {% if users.has_next %}
                                        <li class="page-item">
                                            <button class="page-link" type="submit" style="color: #00bcd4;" name="page" value="{{ users.next_page_number }}">&raquo;</button>
                                            <!--<a class="page-link" style="color: #00bcd4;" href="?page={{ users.next_page_number }}">&raquo;</a>-->
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </form> 
                        {% endif %}
                    </div>                           
                </div>  
            </div>
        </div>
    </div>
    {% endblock %}
