{% extends "devices/home_base2.html" %}
    {% block cabecera%}
    {% load static %}
            <div class="col-12 font-weight-bolder" >
                <label style="margin-left: 30px; margin-top: 5px; font-size: 25px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    <img src="{% static 'devices/img/direccion4.png' %}">  Configuración Audit
                </label>       
            </div>     
    {% endblock %}
    {% block content %}
    {% load static %}
    <div class="container-fluid col-sm-12" style="margin-top: 10px; margin-bottom: 20px;">   
        <div class="card border-info">
            <div style="background-color: #006476; padding: 10px; font-size: 17px;" class="card-header border-success text-light">
                Histórico rango de fecha
            </div>
            <div class="card-body" id="grafico">
                <div class="row">
                    <div class="form-group col-12">   
                        <form class="form" action="" method="GET">
                            {% csrf_token %} 
                            <div class="row">
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                            <div class="input-group-text"><img style="margin-right: 8px;" src="{% static 'devices/img/calendar.svg' %}"/> Desde: </div>
                                        
                                        <input class="form-control" type="datetime-local" name="desde" value="{{desde}}">
                                    </div>             
                                </div>
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                            <div class="input-group-text"><img style="margin-right: 8px;" src="{% static 'devices/img/calendar.svg' %}"/> Hasta: </div>
                                        
                                        <input class="form-control" type="datetime-local" name="hasta" value="{{hasta}}">
                                    </div>             
                                </div>
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                            <div class="input-group-text"><img src="{% static 'devices/img/ubicacion.svg' %}"/></div>
                                        
                                            <select class="form-select" id="idtabla" style="width: 300px;" name="idtabla">
                                                <option value="users">Users</option>
                                                <option value="parameter_alerta">Parameter-alerta</option>
                                                <option value="devices">Devices</option>
                                                <option value="personal">Personal</option>
                                                <option value="personal_notification">Personal Notification</option>
                                            </select>
                                    </div>             
                                </div>
                                <div class="form-group col">
                                    <div class="input-group">
                                        
                                            <button class="btn btn-info fo" type="submit" href=""><img src="{% static 'devices/img/search.svg' %}" > Buscar</button>
                                        
                                        <div style="margin-left: 30px; background-color:#ff9900; border-radius: 20px;">
                                            <a class="btn" href="{% url 'pdfInforme' %}?tabla={{tabla}}&desde={{desde}}&hasta={{hasta}}" ><img src="{% static 'devices/img/printer.svg' %}"> Exportar PDF</a>
                                        </div>              
                                    </div>
                                    
                                </div>               
                            </div>         
                        </form>
                        <div class="col-12" style="margin-left: 0px; padding-top: 20px;">
                            <div style="width: 100%;" >
                                <table class="table table-striped border border-info" style="text-align: center;">
                                    <thead class="bg-info">
                                    <tr class="table-info">                                                 
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">ID</th> 
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">User</th> 
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">ID Objeto</th>
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Tabla</th> 
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Campo</th> 
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Antiguo Valor</th>
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Nuevo Valor</th> 
                                        <th style="padding-top: 0px;padding-bottom: 0px;" scope="col">Fecha</th>   
                                    </tr>
                                    </thead>
                                    <tbody style="padding: 0px;"> 
                                        {% for users in users %}                       
                                            <tr>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.id}}</td>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.name}}</td>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.id_objeto}}</td>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.tabla}}</td>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.campo}}</td>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.oldvalue}}</td>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.newvalue}}</td>
                                                <td style="padding-top: 1px;padding-bottom: 1px;">{{users.fecha|date:'Y-m-d H:m:s'}}</td>                                                                      
                                            </tr> 
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if users.has_other_pages %}
                                <form action="" method="POST">
                                    {% csrf_token %}   
                                    <nav aria-label="Page" style="margin-left: 10px;">
                                        <ul class="pagination">
                                            {% if users.has_previous %}                                                                
                                                <li class="page-item">
                                                    <button class="page-link" type="submit" name="page" value="{{ users.previous_page_number }}">&laquo;</button>
                                                    <!--<a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a>-->
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a>
                                                </li>
                                            {% endif %}
                                            {% for i in users.paginator.page_range %}
                                            {% if users.number == i %}
                                                <li class="page-item active bg-info" aria-current="page">
                                                    <a class="page-link" style="background:#00bcd4; border: 1px solid transparent;">
                                                        <span >{{ i }} </span>
                                                    </a>                                          
                                                </li>
                                            {% else %}                                       
                                                <li class="page-item">
                                                    <button class="page-link" type="submit" name="page" style="color: #00bcd4;" value="{{ i }}">{{ i }}</button>
                                                    <!--<a class="page-link" style="color: #00bcd4;" href="?page={{ i }}">{{ i }}</a>-->
                                                </li>                                            
                                            {% endif %}
                                            {% endfor %}
                                            {% if users.has_next %}
                                                <li class="page-item">
                                                    <button class="page-link" type="submit" style="color: #00bcd4;" name="page" value="{{ users.next_page_number }}">&raquo;</button>
                                                    <!--<a class="page-link" style="color: #00bcd4;" href="?page={{ users.next_page_number }}">&raquo;</a>-->
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </form> 
                                {% endif %}
                            </div>
                        </div>       
                    </div>
                     
                    
                                                                              
                </div>  
            </div>
        </div>
    </div>

    
    
    
    {% endblock %}
